
.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal-button {
    min-width: 100px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background: #141414;
    color: white;
    font-size: 24px;
    cursor: pointer;
}